@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&display=swap');

h1 {
	color: #FF9933;
	font-size: 69px;
	font-weight: 600;
}

p {
	color: #050038;
	font-size: 22px;
}

.heronav {
	background-image: url(./assets/Background-1.svg);
	background-size: cover;
}

.navbar-brand {
	color: #050038;
	font-size: 22px;
	font-weight: 600;
}

#navbar-brand-main {
	margin-left: 275px;
}

a.nav-link {
	text-decoration: none;
    user-select: none;
	color: #050038;
	font-size: 22px;
	font-weight: 500;
}

a:visited {
	color: #050038;
}

a:hover {
	color: #FF9933;
}

#joinwaitlistnavbtn {
	color: white;
	background-color: #050038;
	width: 179px;
	height: 44px;
	text-align: center;
	border-radius: 10px;
}

.c {
	height: 600px;
}

.w {
	height: 650px;
	background-color: white;
	border-radius: 50px;
}

.g {
	background-image: url(/src/assets/Rectangle\ 9.svg);
	background-size: cover;
	border-radius: 60px;
}

#herotitle {
	font-size: 69px;
	font-weight: 600;
	color: #FF9933;
	line-height: 69px;
	margin-top: 70px;
}

#herop {
	font-size: 26px;
	font-weight: 500;
	color: #FF9933;
}

#heroinput {
	border-radius: 10px;
	border-color: #050038;
	height: 50px;
	text-align: center;
}

#heroinput:focus {
	font-size: 22px;
}

#heroinput::after {
	font-size: 22px; 
}

::placeholder {
	color: #050038;
	font-size: 22px;
	text-align: center;
	transform: translateY(2px);
}

#herobtn {
	height: 45px;
	border-radius: 10px;
	border-color: #050038;
	color: white;
	font-size: 22px;
	font-weight: 500;
	height: 50px;
	background-color: #050038;
}

#hrw {
	text-align:center;
	font-size: 50px;
	height: 50px;
	color: #FF9933;
	line-height: 50px;
	margin-top: 50px;
	/* transform: translateY(70px); */
}

.tr {
	text-align: right;
}

.tc {
	text-align: center;
}

#cinputdiv {
	display: flex;
	align-items: center;
    justify-content: center;
}
#heroinput-join {
	display: flex;
	align-items: center;
    justify-content: center;
	border-radius: 10px;
	border-color: #050038;
	height: 50px;
	text-align: center;
}

.os-w {
	height: 500px;
	background-color: white;
}

.os-b {
	height: 500px;
	background-color: #BCBBC8;
}

.os-img {
	height: 300px;
}

.os-img-250 {
	height: 250px;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1151px) {
	
	#navbar-brand-main {
		margin-left: 220px;
	}

	.c {
		height: 500px;
	}
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 991px) {

	#herotitle {
		text-align: center;
	}

	#herop {
		text-align: center;
	}

	img {
		margin-bottom: 70px;
	}
  }


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) {

	#herotitle {
		font-size: 54px;
		line-height: 54px;
		text-align: center;
	}

	#herop {
		font-size: 21px;
		line-height: 21px;
		text-align: center;
	}

	#hrw {
		font-size: 39px;
		margin-top: 0px;
	}
  }










































 * {
	font-family: 'Anek Devanagari', sans-serif;
}
/*
::placeholder {
	color: #050038;
	font-size: 26px;
	transform: translate(15px,5px);
	padding: 0px;	
}

input:focus {
	font-size: 24px;
	outline-style: solid;
    outline-color: #050038;
	text-indent: 30px;
}

input:focus::placeholder {
	color: transparent;
  }

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: #050038;
}

a:visited {
	color: #050038;
}

a:hover {
	color: #FF9933;
}

h1 {
	font-size: 69px;
	line-height: 1.1;
	margin-bottom: 0px;
	color: #FF9933;
}


h3 {
	font-size: 26px;
	font-weight: 550;
}

p {
	font-size: 26px;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 12px;
}

.nav, .nav-center {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}

.nav-left, .nav-center, .nav-right {
	margin-top: 56px;
}

.nav-left{
	margin-left: 264px;
	padding-left: 0px;
}

.nav-left > h3{
	display: block;
}

.nav-left > img {
	display: none;
}


.nav-left > h3{
	margin-top: 16px;
}

.nav-center{
	justify-content: right;
	margin-right: 90px;
}

.nav-center>h3 {
	margin-right: 80px;
	margin-top: 16px;
}

#joinWaitlist {
	color: white;
	background-color: #050038;
	height: 46px;
	width: 179px;
	text-align: center;
	line-height: 52px;
	border-radius: 10px;
	margin-top: 12px;
}

#joinWaitlista:visited {
	color: white;
}

#joinWaitlist:hover {
	color: white;
	background-color: rgba(5, 0, 56, 0.8);
}

.nav-right{
	margin-right: 50px;
}

.containter {
	width: 100%;
	margin: 0px;
}

.hero {
	display: flex;
	height: 665px;
}

.hero > .content-left {
	width: 70%;
	margin-top: 110px;
}

.hero > .content-left > * {
	margin-left: 264px;
}

.hero > .content-left > h1 {
	font-size: 75px;
}

.emailhero {
	height: 76px;
}

input {
	width: 500px;
	height: 70px;
	border-radius: 10px;
	line-height: 70px;
	transform: translateY(-4px);
	font-size: 24px;
	text-indent: 30px;
}

.requestaccess {
	width: 227px;
	height: 76px;
	background-color: #050038;
	color: white;
	font-size: 26px;
	font-weight: 600;
	border-radius: 10px;
	line-height: 76px;
	margin-left: 15px;
}

.requestaccess:hover {
	background-color: #FF9933;
	color: white;
	border: none;
}

.requestaccess:active {
	background-color: #050038;
	color: white;
	border: none;
}

.hero > .content-right {
	width: 30%
}

.cards {
	margin-top: 190px;
	transform: translateX(40px);
}

.howrhetoraworks {
	margin-left: 225px;
	margin-right: 225px;
}

#hrw {
	text-align:center;
	font-size: 50px;
	height: 50px;
	color: #FF9933;
	line-height: 50px;
	transform: translateY(70px);
}

.VYTT, .MCCOSF, .SPRR, .emailcapture, .footer {
	display: flex;
	justify-content: center;
}

.VYTT {
	height: 708px;
	align-items: center;
}

.MCCOSF {
	background-image: url(./assets/Rectangle\ 9.svg);
	background-size: cover;
	height: 708px;
	align-items: center;
	border-radius: 60px;
}

.MCCOSF > .content-right {
	margin-right: 30px;
}

.SPRR {
	height: 708px;
	align-items: center;
	width: 100%;
}

.MCCOSF > .content-left {
	margin-left: 81px;
}

.SPRR > .content-left {
	margin-left: 81px;
	margin-right: 100px;
}

.emailcapture {
	background-image: url(./assets/Rectangle\ 9.svg);
	background-size: cover;
	flex-direction: column;
	height: 708px;
	margin-left: 225px;
	margin-right: 225px;
	margin-top: 0px;
	border-radius: 60px;
	margin-bottom: 100px;
}

.emailcapture > * {
	justify-content: center;
	text-align: center;
}

.emailcapture > h1 {
	transform: translateY(-100px);
}

#dbsp {
	transform: translateY(-80px);
	font-weight: 400;
}

.emailcapture > h3 {
	font-weight: 400;
}


.footer {
	height: 412px;
	background-image: url(./assets/background-footer.svg);
	background-size: cover;
	align-items: center;
}

.footer > h3 {
	margin-left: 35px;
	margin-right: 35px;
	transform: translateY(40px);
}

.footer > h3 > a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: white;
} */



























/* for wide screens over 1761px */

@media only screen 
  and (min-device-width: 1761px) 
  and (max-device-width: 3700px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


}


/* for mobile screens under 812px */

/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 844px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

	* {
		margin: 0px;
	}

	.nav-left {
		margin: 0px;
	}

	.nav-left > h3 {
		display: none;
	}

	.nav-left > img {
		display: block;
	}

	.nav-center {
		margin: 0px;
	}

	.nav-center > h3 {
		display: none;
	}

	.nav-center > #joinWaitlist {
		display: block;
		width: 110px;
		font-size: 18px;
		margin: 0px;
	}

	.nav-right {
		margin: 0px;
	}

	.hero {
		height: 480px;
	}

	.hero > .content-left {
		width: 100%;
	}

	.hero > .content-left > h1 {
		font-size: 42px;
		margin: 0px;
		text-align: center;
	}

	.hero > .content-left > p {
		font-size: 18px;
		margin: 0px;
		text-align: center;
		font-weight: 300;
		width: 70%;
	}

	.hero > .content-left > .emailhero {
		margin: 0px;
	}

	.emailhero > input {
		width: 300px;
		height: 50px;
	}

	.emailhero > button {
		line-height: 40px;
		height: 40px;
		font-size: 22px;
		margin: 0px;
	}

	.hero > .content-right {
		display: none;
	}

	.howrhetoraworks {
		margin: 0px;
	}

	.howrhetoraworks > #hrw {
		transform: translateY(0px);
		font-size: 30px;
		font-weight: 500;
	}



	.VYTT, .MCCOSF, .SPRR {
		flex-direction: column;
	}

	.VYTT, .MCCOSF, .SPRR > .content-left {
		width: 100%;
		margin: 0px;
	}

	.VYTT > div > img {
		width: 100%;
		margin: 0px;
	}

	.MCCOSF > .content-left {
		margin: 0px;
		margin-top: 40px;
	}

	.MCCOSF > .content-right {
		margin: 0px;
	}

	.MCCOSF > div > img {
		width: 100%;
		margin: 0px;
	}

	.SPRR {
		margin-top: 60px;
	}


} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
