/*---------------------------------- Hubspot Join-waitlist Form ------------------------------- */

#hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap; */
}

/* #hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b .hs_submit,
.hs-submit > .actions > .hs-button,
.primary,
.large {
  border-radius: 0.5rem;
} */
input[value="Get Early Access"] {
  border-radius: 0.5rem !important;
}

#hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_firstname {
  width: 100%;
}

#hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_company {
  width: 100%;
}

#hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_email {
  width: 100%;
}

#hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_submit {
  margin-top: 22px;
  width: 100%;
}

#firstname-5d003db2-c7e7-4230-b51f-cf526b584d4b {
  border-radius: 0.5rem;
  border: 1px solid #050038;
  width: 100%;
}

::placeholder {
  color: #d1d5db;
  font-size: "15px" !important;
}

#company-5d003db2-c7e7-4230-b51f-cf526b584d4b {
  border-radius: 0.5rem;
  border: 1px solid #050038;
  width: 100%;
  width: 100%;
}

#email-5d003db2-c7e7-4230-b51f-cf526b584d4b {
  border-radius: 0.5rem;
  border: 1px solid #050038;
  width: 100%;
}

.hs-button,
.primary,
.large {
  background-color: #050038;
  width: 100%;
  border-radius: 0.5rem;
}

/* media queries */
@media (min-width: 778px) {
  #hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_firstname {
    width: 49%;
  }

  #hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_company {
    width: 49%;
    margin-left: 2%;
  }

  #hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_email {
    width: 74%;
  }

  #hsForm_5d003db2-c7e7-4230-b51f-cf526b584d4b > .hs_submit {
    margin-top: 22px;
    width: 24%;
    margin-left: 2%;
  }
}

@media (min-width: 768px) {
}

/*---------------------------------- Hubspot Join-waitlist Form ------------------------------- */
