#page {
    display: flex;
    justify-content: center;
}

#lucaLine {
    position: absolute;
    width: 933px;
    height: 86px;
    left: 579px;
    top: 265px;
}

#mazeLine {
    position: absolute;
    width: 933.01px;
    height: 86px;
    left: 579px;
    top: 610px;
}

#heading1 {
    position: absolute;
    left: 69.71%;
    right: 26.06%;
    top: 385px;
    /* bottom: 59.1%; */

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;
    /* or 50% */

    display: flex;
    align-items: center;
    letter-spacing: 0.00380952px;

    /* orange */

    color: #050038;
}

#description1 {

    position: absolute;
    height: 110px;
    left: 54.96%;
    right: 11.24%;
    top: 426px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: #050038;
}

#topline {
    position: absolute;
    width: 767px;
    height: 128px;
    left: -11px;
    top: 834px;
}

/* #frame34{
  position: absolute;
width: 56.31px;
height: 56.31px;
left: 728px;
top: 726px;
} */

#vector145 {
    box-sizing: border-box;

    position: absolute;
    width: 1166px;
    height: 0px;
    left: 162.5px;
    top: 1550px;

    /* timeline stroke */

    border: 2px dashed #9CAFC6;
    transform: rotate(-90deg);
    border-radius: 5px;
}

#v1 {
    position: absolute;
    width: 394.93px;
    height: 278.65px;
    left: 280px;
    top: 950px;
}

#bottomline {
    position: absolute;
    width: 767px;
    height: 125px;
    left: -11px;
    top: 1331px;
}

#heading3 {
    position: absolute;
    left: 25.79%;
    right: 69.84%;
    top: 1612px;
    bottom: 68.23%;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;
    /* or 50% */

    display: flex;
    align-items: center;
    letter-spacing: 0.00380952px;

    /* orange */

    color: #050038;
}

#description3 {
    position: absolute;
    height: 110px;
    left: 12.96%;
    right: 56.94%;
    top: 1668.63px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 142% */

    text-align: center;

    color: #050038;
}

#text3 {
    position: absolute;
    width: 486px;
    height: 167.07px;
    left: 840px;
    top: 985px;
}

#v4 {
    position: absolute;
    width: 527.57px;
    height: 253px;
    left: 861px;
    top: 1594px;
}

#textRight {
    position: absolute;
    width: 511px;
    height: 160.63px;
    left: 861px;
    top: 2053px;
}

#v1Rect {
    position: absolute;
    width: 333.01px;
    height: 224.99px;
    left: 310.96px;
    top: 67.67px;

    background: #FFFFFF;
    box-shadow: 0px 2.75211px 2.75211px rgba(0, 0, 0, 0.25);
    border-radius: 17.2007px;
}

.yHeading {
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;
    /* or 50% */

    letter-spacing: 0.00380952px;

    /* orange */

    color: #050038;

}

.yeardesc {
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: #050038;
}

#text4 {
    position: absolute;
    height: 110px;
    left: 56.94%;
    right: 9.26%;
    top: 2000.63px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: #050038;
}



#rect60 {
    position: absolute;
    width: 1108px;
    height: 330px;
    left: 202px;
    top: 2500px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background: #050038;
    border-radius: 10px;
}

#rect60 #input2 {
    position: absolute;
    height: 58px;
    left: 49.91%;
    right: 26.71%;
    top: 96px;

    border-radius: 50px;
}

#rect60 #input1 {

    position: absolute;
    height: 58px;
    left: 26.44%;
    right: 50.18%;
    top: 96px;

    border-radius: 50px;
}

#rect60 #label {
    position: absolute;
    height: 45px;
    left: 400px;
    top: 41px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#rect60 textarea {

    position: absolute;
    height: 62px;
    left: 26.36%;
    right: 26.60%;
    top: 172px;

    background: #FFFFFF;
    border-radius: 15px;
}

#rect60 button {
    box-sizing: border-box;

    position: absolute;
    height: 48px;
    left: 42.33%;
    right: 42.42%;
    top: 249px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.13px;
    text-transform: uppercase;

    color: #050038;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    background: #FFFFFF;
}

#ellipse420 {
    height: 64px;
    width: 64px;
    left: 118px;
    top: 8px;
    border-radius: 0px;
}

